@font-face {
    font-family: apples;
    src: url(../Fonts/apples.ttf);
  }

.jumbotron {
    margin-bottom: 0px; 
}
.col-sm-4 {
    padding-left: 0px ;
}
#movieCard {
    border-style: none;
}
.movie {
    margin: 0px;
    padding: 0px;
}
.fare {
    margin: 0px;
    padding: 0px;
}
#fareCard {
    border-style: none;
}
#movieHistory {
    border-style: none;
    text-align: center;
}
.movieHistoryCard {
    margin: 0px;
    padding: 0px;
}
.fareHistoryCard {
    margin: 0px;
    padding: 0px;
}
#fareHistory {
    border-style: none;
    text-align: center;
}
.movieList {
    padding: 0px 0px 0px 0px;
}


/* Adam's CSS */



body{
    background-image: url("../images/Coffee.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.card,
.card-body{
    background-color: rgba(255,255,255,.1);
}
.mainHeader{
    font-family: apples;
    font-size: 3.5rem;
    font-weight: bolder;
    text-align: center;
   
}

.secondaryHeader{
    background-color: lightcoral;
}

.historyInfo{
    background-color: lightcoral;
}

h1{
    font-size: 4rem;
}




